################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KillBind/obj
/.vs/KillBind
/KillBind/bin/Debug
/.gitignore
/.gitattributes
