################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KillBind/obj
/.vs/KillBind
/KillBind/bin/Debug
/.gitignore
/.gitattributes
/packages
/.gitignore
/.gitignore
/.gitignore
/.gitignore
/KillBind/app.config
/KillBind/packages.config
/.gitignore
